<div id="<%= dom_id info %>">
  <p>
    <strong>Name:</strong>
    <%= info.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= info.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= info.picture %>
  </p>

</div>
