<h1>Meet the team</h1>
<p>Hello there! Here you can find <span class="boldtext"> the most responsible individuals  </span> to help you with your problems!</p>

<p> <span class="boldtext"> Αξιότιμη Ντεμόρα - The Serious One</p>
<%= image_tag "ntemora.jpg" , style: "width: 200px" %>
<br/>
<br/>
<p> <span class="boldtext"> Αχόρταγο Μιτσικέλλι - Your Mom</p>
<%= image_tag "mitsikelly.png" , style: "width: 200px" %>
